:root {
  --redMainColor: #b2302b;
  --titleColor: #283237;
}

.gap20 {
  gap: 20px;
}

.bigBallBannerHeader {
  width: 1800px;
  height: 1800px;
  transform: translateX(-20%);
  top: -100%;
  right: -100%;
}

.mediumBallBannerHeader {
  right: 30%;
}

.smallBallBannerHeader {
  bottom: 25%;
 left: 25%;
}

#navMenu {
  gap: 15px;
}

nav {
  gap: 15px;
}

.bgRedColor {
  background-color: var(--redMainColor);
}

.redColor {
  color: var(--redMainColor);
}

.grayBoldColor {
  color: var(--titleColor);
}

.bgGray {
  background-color: var(--titleColor);
}

.mt250 {
  margin-top: 15%;
}

.mt500 {
  margin-top: 30%;
}

.hfc {
  height: fit-content;
}

.mediumBallAdvide {
  width: 800px;
  height: 800px;
}

.btlrra150 {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

@media screen and (max-width: 991px) {
  .bigBallBannerHeader {
    width: 1200px;
    height: 1200px;
    transform: translate(20%, -20%);
  }
}


.slideshow-container-advide {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.slides-container-advide {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.prev,
.next {
  font-size: 30px;
  position: absolute;
  top: 50%;
  background: transparent;
  color: #ee1f23;
  outline: none;
  border: none;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

.prev:focus,
.next:focus {
  outline: none;
}

/* CSS cho dots */
.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #000; /* Màu dot đang hoạt động */
}
